<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p>When I'm not working I enjoy healthy living. Activities include cooking 🧑🏻‍🍳, yoga 🧘🏻, basketball ⛹🏻, and weight
          lifting. However, anything health is welcome!</p>
      </div>
      <div class="col-lg-4 text-center">
        <p>I also enjoy hanging out with my dog 🐩 Penny, drinking coffee ☕  with friends, and helping people become the best
          versions of themselves. </p>
      </div>
    </div>
  </div>
</section>