<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}

  <section id="categories">
    <div class="button-group filter-button-group">
      {% for tag in site.tags %}
      <a class="button" data-filter=".{{ tag | first }}">{{ tag | first }}</a>,
      {% endfor %}
      <a class="button active" data-filter="*">All</a>
    </div>

    <div class="posts">
      {% for post in site.posts %}
      <div class="element-item border border-primary {{ post.tags }}" style="border: solid; padding: 20px; margin-top: 100px; width: 100%">
        <h1 class="link">
          <a href="#" class="href">{{ post.title }}</a>

        </h1>
        <h5 class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</h5>
        <div class="border border-primary">
          {{ post.excerpt }}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js"
    integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>

  <script>
    var $grid = $('.posts').isotope({
      // options
      masonry: {
        columnWidth: 1000
      }
    });
    $('.filter-button-group').on('click', 'a', function () {
      var filterValue = $(this).attr('data-filter');
      console.log({filterValue})
      $grid.isotope({ filter: filterValue });
    });
    $('.button-group a.button').on('click', function () {
      $('.button-group a.button').removeClass('active');
      $(this).addClass('active');
    });
  </script>
  <style type="text/css">
    a.button.active {
      color: #fff;
      background: #F76B48;
      border: 1px solid #F76B48;
    }
  </style>

  {% include footer.html %}
  {% include js.html %}
</body>

</html>